<hr>
<h3>welcome To Capgemini: 177513</h3>
<h3>Welcome To GameCity: Experience the Online Gaming Experience</h3>

 <form [formGroup]="gameForm" (ngSubmit)="submit()">

  <table>

   <tr>
   <td>Name</td>
     <div class="form-group">
<td>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter your Name">
     <div *ngIf="submitted &&gameForm.controls.name.errors" class="error">
     <div class="text-danger" *ngIf="gameForm.controls.name.errors.required">Please Enter the Name</div>
     <div class="text-danger" *ngIf="gameForm.controls.name.errors.pattern">Entered Name is wrong</div>
      </div>
</td>

   </div>

   </tr>

   <tr>
    <td>Address</td>
    <div class="form-group">
    <td><input type="text" class="form-control" formControlName="address" placeholder="Enter the Address">
    <div *ngIf="submitted &&gameForm.controls.address.errors"class="error">
    <div class="text-danger" *ngIf="gameForm.controls.address.errors.required"> please fill the address </div>

    </div>
 </td>
   </div>
   </tr>
   <tr>
    <td>Amount To Pay</td>
      <div class="form-group">
 <td>
       <input type="text" class="form-control" formControlName="name" pattern="[0-9]*" placeholder="Enter Amount">
      <div *ngIf="submitted &&gameForm.controls.name.errors" class="error">
      <div class="text-danger" *ngIf="gameForm.controls.name.errors.required">Please Enter the Amount</div>
      <div class="text-danger" *ngIf="gameForm.controls.name.errors.pattern">Entered Amount is inValid</div>

    </div>
 </td>

 
    </div>
 
    </tr>
  <button class="btn btn-primary btn-lg" (click) ="getAmount()">Buy Card</button>
 
 
  <p>Note: 100 Rs will be deducted for service</p>

  </table>
</form>